.subheaderdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }
  span { width:50%; display:inline-block; }
  span.align-left { text-align:left; }
.modal {
    display: block;
}
.breadcrumb-arrow {
  height: 36px;
  padding: 0;
  line-height: 36px;
  list-style: none;
  background-color: #e6e9ed
}
.breadcrumb-arrow li:first-child a {
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
  display: inline-block;
  vertical-align: top
}
.breadcrumb-arrow li:not(:first-child) {
  margin-left: -5px
}
.breadcrumb-arrow li+li:before {
  padding: 0;
  content: ""
}

.modal-ku {
  width: 750px;
  margin: auto;
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 1px px;
  font-size: 8;
  cursor: pointer;
  font-size: 15px;
}
.btn-close {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 1px px;
  font-size: 8;
  cursor: pointer;
  font-size: 15px;
}
.btn:hover {
  background-color: RoyalBlue;
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: #057ef7;
  border-color: #057ef7;
}
.btn-blue {
  color: #fff;
  background-color: #057ef7;
  border-color: #057ef7;
}

.btn-check{
  background-color: DodgerBlue;
  vertical-align: bottom;
  border: none;
   color: white;
  padding-left: 2px;
    padding-right: 2px;
    width: 49px;
    height: 26px;
    padding-bottom:  2;
}

.btn-uncheck{
  background-color: #dee2e6;
   border: none;
   color: #212529;
   padding: 1px px;   
   height: 26px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 64px;
}

.modal-content {
width: 500px !important;
}
.jumbotron{
  height: calc(100vh);
 background-color:white!important;
 }
.topright {

  position: absolute;
  top: 62px;

  right: 16px;
  
  font-size: 18px;
  
  }

  .loader {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.spinner{
  position: relative;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  top: 300px; 
  left: 750px;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
} */

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}